body{
    padding: 0 .15rem;
    background: rgb(245,245,245) url('../image/payBack.png') no-repeat left top;
    background-size: 100% 2.4rem;
}
.title{
    display: flex;
    height: .3rem;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: .15rem;
    margin: .2rem 0 .1rem 0;
}
.back{
    width: .2rem;
}
.card{
    height: 2.3rem;
    background: url('../image/payCardBack.png') no-repeat left bottom;
    background-size: contain;
    padding-top: .25rem;
}
.txt{
    height: .3rem;
    width: 2.05rem;
    margin: 0 auto;
    background: url('../image/payCardLine.png') no-repeat left center;
    background-size: contain;
    line-height: .3rem;
    text-align: center;
    color: rgb(51,51,51);
}
.price{
    font-size: .65rem;
    color: rgb(255,68,0);
    font-family: Arial;
    text-align: center;
    margin-top: .15rem;
}
.amount{
    line-height: .3rem;
    text-align: center;
    color: rgb(51,51,51);
    margin-top: .15rem;
}
.btns{
    display: block;
    width: 100%;
    height: .54rem;
    border-radius: .27rem;
    font-size: .15rem;
    margin-top: .15rem;
}
.btn1{
    background: rgb(119,170,253);
    border: 0;
    color: #fff;
    margin-top: .65rem;
}
.btn2{
    background: #fff;
    border: .01rem solid rgb(119,170,253);
    color: rgb(119,170,253);
}
.btn3{
    background: #fff;
    border: 0;
    color: rgb(51,51,51);
}
.mask{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    display: none;
}
.payByCardWin{
    width: 2.8rem;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 0 0.1rem .5rem .3rem;
    -webkit-transform: translate(-50%,  -50%);
    -moz-transform: translate(-50%,  -50%);
    -ms-transform: translate(-50%,  -50%);
    -o-transform: translate(-50%,  -50%);
    transform: translate(-50%,  -50%);
}
.payByCardWin .line{
    font-size: .16rem;
    line-height: .25rem;
}
.line:first-child{
    margin-top: .15rem;
}
.btnsWrap{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: .4rem;
    left: 0;
    bottom: 0;
    border-top: .01rem solid #ddd;
}
.btnsWrap .btn{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:  .16rem;
}
.btn:first-child{
    border-right:.01rem solid #ddd;
}
.btn:last-child{
    color: #26a2ff;
}